services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}"      
      - "9229:9229"            
    volumes:
      - ./:/app                
      - /app/node_modules      
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    
    command: npm start
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: inventory_db
    ports:
      - "3307:3306"
    volumes:
      
      - ./init-db:/docker-entrypoint-initdb.d